{{- $imgURL := "" }}
{{- $imgW := 0 }}
{{- $imgH := 0 }}

{{- if eq .Type "post" }}
    {{- $src := .Params.hero_image | default .Params.thumbnail }}
    {{- with $src }}
        {{- $valueType := printf "%T" . }}
        {{- $path := . }}
        {{- if in $valueType "map" }}
            {{- $path = .src }}
        {{- end }}
        {{- if hasPrefix $path "http" }}
            {{- $imgURL = $path }}
        {{- else }}
            {{- with resources.Get $path }}
                {{- $native := .Width }}
                {{- $maxW := 1200 }}
                {{- if lt $native $maxW }}
                    {{- $maxW = $native }}
                {{- end }}
                {{- $r := .Resize (printf "%dx q80" $maxW) }}
                {{- $imgURL = $r.Permalink }}
                {{- $imgW = $r.Width }}
                {{- $imgH = $r.Height }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- if not $imgURL }}
    {{- with resources.Get "img/logo.png" }}
        {{- $imgURL = .Permalink }}
        {{- $imgW = .Width }}
        {{- $imgH = .Height }}
    {{- end }}
{{- end }}

{{- return dict "URL" $imgURL "Width" $imgW "Height" $imgH }}
