<article class="list__item post">
<div class="summary-row">
  {{- if $thumbnail := .Params.thumbnail }}
  <a class="summary-row__thumb" href="{{ .RelPermalink }}">
    {{- $src := $thumbnail | relURL }}
    {{- $srcset := "" }}
    {{- $w := 0 }}
    {{- $h := 0 }}
    {{- with resources.Get $thumbnail }}
      {{- $res := . }}
      {{- $native := $res.Width }}
      {{- $maxW := 416 }}
      {{- if lt $native $maxW }}
        {{- $maxW = $native }}
      {{- end }}
      {{- $main := $res.Resize (printf "%dx q80" $maxW) }}
      {{- $src = $main.RelPermalink }}
      {{- $w = $main.Width }}
      {{- $h = $main.Height }}
      {{- $parts := slice (printf "%s %dw" $main.RelPermalink $main.Width) }}
      {{- range (slice 160 240 320) }}
        {{- if lt . $maxW }}
          {{- $r := $res.Resize (printf "%dx q80" .) }}
          {{- $parts = $parts | append (printf "%s %dw" $r.RelPermalink $r.Width) }}
        {{- end }}
      {{- end }}
      {{- $srcset = delimit $parts ", " }}
    {{- end }}
    <img src="{{ $src }}"
         {{- with $srcset }}
         srcset="{{ . }}"
         sizes="(min-width: 480px) 169px, 31vw"
         {{- end }}
         {{- if $w }} width="{{ $w }}"{{ end }}
         {{- if $h }} height="{{ $h }}"{{ end }}
         alt="{{ .Title }}">
  </a>
  {{- end }}
  <div class="summary-row__body">
    <header class="list__header">
    <h2 class="list__title post__title">
    <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
    </h2>
    {{ with partial "post_meta.html" . -}}
    <div class="list__meta meta">{{ . }}</div>
    {{- end }}
    </header>
    <div class="content list__excerpt post__content clearfix">
    {{ .Summary }}
    </div>
    {{- if .Site.Params.readmore }}
    {{- if .Truncated }}
    <div class="list__footer clearfix">
    <a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
    </div>
    {{- end }}
    {{- end }}
  </div>
</div>
</article>
